//Website Basic Colors

$gazer  : #93DAF5;
$bite   : #B6CBD6;
$lblue  : #79D2F4;
$tdi    : #0B516C;
$lwblue : #DBF7F9;

//Cat Colors =)

$dark   : #040508;
$sdark  : #211f24;
$gblue  : #4c5469;
$lgblue : #8695b0;
$whitten: #d6d6d6;
$lgrey  : #b5afaa;

//rainbow
$red    : #ee4035; //rgb(238,64,53)
$orange : #f37736; //rgb(243,119,54)
$yellow : #fdf498; //rgb(253,244,152)
$green  : #7bc043; //rgb(123,192,67)
$blue   : #0392cf; //rgb(3,146,207)
$purple : #b150c5; //rgb(177,80,197)

//Material Design Color Swatches

$Grey900 : #212121;
$Grey850 : #303030; //???
$Grey800 : #424242;
$Grey700 : #616161;
$Grey600 : #757575;
$Grey500 : #bdbdbd;
$Grey100 : #f5f5f5;
$White   : #ffffff;

