$gazer  : #93DAF5;
$bite   : #B6CBD6;
$lblue  : #79D2F4;
$tdi    : #0B516C;
$lwblue : #DBF7F9;

//Cat Colors =)

$dark   : #040508;
$sdark  : #211f24;
$gblue  : #4c5469;
$lgblue : #8695b0;
$whitten: #d6d6d6;
$lgrey  : #b5afaa;
