.flag:before {
  content: " ";
  width: 16px;
  height: 16px;
  background:url(../img/flags.png) no-repeat;
  background-size: 240px 240px;
  float: left;
  margin: 4px 0 0;
}

.flag.flag-ad:before {background-position: -16px 0}
.flag.flag-ae:before {background-position: -32px 0}
.flag.flag-af:before {background-position: -48px 0}
.flag.flag-ag:before {background-position: -64px 0}
.flag.flag-ai:before {background-position: -80px 0}
.flag.flag-al:before {background-position: -96px 0}
.flag.flag-am:before {background-position: -112px 0}
.flag.flag-an:before {background-position: -128px 0}
.flag.flag-ao:before {background-position: -144px 0}
.flag.flag-ar:before {background-position: -160px 0}
.flag.flag-as:before {background-position: -176px 0}
.flag.flag-at:before {background-position: -192px 0}
.flag.flag-au:before {background-position: -208px 0}
.flag.flag-aw:before {background-position: -224px 0}
.flag.flag-az:before {background-position: 0 -16px}
.flag.flag-ba:before {background-position: -16px -16px}
.flag.flag-bb:before {background-position: -32px -16px}
.flag.flag-bd:before {background-position: -48px -16px}
.flag.flag-be:before {background-position: -64px -16px}
.flag.flag-bf:before {background-position: -80px -16px}
.flag.flag-bg:before {background-position: -96px -16px}
.flag.flag-bh:before {background-position: -112px -16px}
.flag.flag-bi:before {background-position: -128px -16px}
.flag.flag-bj:before {background-position: -144px -16px}
.flag.flag-bm:before {background-position: -160px -16px}
.flag.flag-bn:before {background-position: -176px -16px}
.flag.flag-bo:before {background-position: -192px -16px}
.flag.flag-br:before {background-position: -208px -16px}
.flag.flag-bs:before {background-position: -224px -16px}
.flag.flag-bt:before {background-position: 0 -32px}
.flag.flag-bw:before {background-position: -16px -32px}
.flag.flag-by:before {background-position: -32px -32px}
.flag.flag-bz:before {background-position: -48px -32px}
.flag.flag-ca:before {background-position: -64px -32px}
.flag.flag-cd:before {background-position: -80px -32px}
.flag.flag-cf:before {background-position: -96px -32px}
.flag.flag-cg:before {background-position: -112px -32px}
.flag.flag-ch:before {background-position: -128px -32px}
.flag.flag-ci:before {background-position: -144px -32px}
.flag.flag-ck:before {background-position: -160px -32px}
.flag.flag-cl:before {background-position: -176px -32px}
.flag.flag-cm:before {background-position: -192px -32px}
.flag.flag-cn:before {background-position: -208px -32px}
.flag.flag-co:before {background-position: -224px -32px}
.flag.flag-cr:before {background-position: 0 -48px}
.flag.flag-cu:before {background-position: -16px -48px}
.flag.flag-cv:before {background-position: -32px -48px}
.flag.flag-cy:before {background-position: -48px -48px}
.flag.flag-cz:before {background-position: -64px -48px}
.flag.flag-de:before {background-position: -80px -48px}
.flag.flag-dj:before {background-position: -96px -48px}
.flag.flag-dk:before {background-position: -112px -48px}
.flag.flag-dm:before {background-position: -128px -48px}
.flag.flag-do:before {background-position: -144px -48px}
.flag.flag-dz:before {background-position: -160px -48px}
.flag.flag-ec:before {background-position: -176px -48px}
.flag.flag-ee:before {background-position: -192px -48px}
.flag.flag-eg:before {background-position: -208px -48px}
.flag.flag-eh:before {background-position: -224px -48px}
.flag.flag-er:before {background-position: 0 -64px}
.flag.flag-es:before {background-position: -16px -64px}
.flag.flag-et:before {background-position: -32px -64px}
.flag.flag-fi:before {background-position: -48px -64px}
.flag.flag-fj:before {background-position: -64px -64px}
.flag.flag-fm:before {background-position: -80px -64px}
.flag.flag-fo:before {background-position: -96px -64px}
.flag.flag-fr:before {background-position: -112px -64px}
.flag.flag-ga:before {background-position: -128px -64px}
.flag.flag-gb:before {background-position: -144px -64px}
.flag.flag-gd:before {background-position: -160px -64px}
.flag.flag-ge:before {background-position: -176px -64px}
.flag.flag-gg:before {background-position: -192px -64px}
.flag.flag-gh:before {background-position: -208px -64px}
.flag.flag-gi:before {background-position: -224px -64px}
.flag.flag-gl:before {background-position: 0 -80px}
.flag.flag-gm:before {background-position: -16px -80px}
.flag.flag-gn:before {background-position: -32px -80px}
.flag.flag-gp:before {background-position: -48px -80px}
.flag.flag-gq:before {background-position: -64px -80px}
.flag.flag-gr:before {background-position: -80px -80px}
.flag.flag-gt:before {background-position: -96px -80px}
.flag.flag-gu:before {background-position: -112px -80px}
.flag.flag-gw:before {background-position: -128px -80px}
.flag.flag-gy:before {background-position: -144px -80px}
.flag.flag-hk:before {background-position: -160px -80px}
.flag.flag-hn:before {background-position: -176px -80px}
.flag.flag-hr:before {background-position: -192px -80px}
.flag.flag-ht:before {background-position: -208px -80px}
.flag.flag-hu:before {background-position: -224px -80px}
.flag.flag-id:before {background-position: 0 -96px}
.flag.flag-ie:before {background-position: -16px -96px}
.flag.flag-il:before {background-position: -32px -96px}
.flag.flag-im:before {background-position: -48px -96px}
.flag.flag-in:before {background-position: -64px -96px}
.flag.flag-iq:before {background-position: -80px -96px}
.flag.flag-ir:before {background-position: -96px -96px}
.flag.flag-is:before {background-position: -112px -96px}
.flag.flag-it:before {background-position: -128px -96px}
.flag.flag-je:before {background-position: -144px -96px}
.flag.flag-jm:before {background-position: -160px -96px}
.flag.flag-jo:before {background-position: -176px -96px}
.flag.flag-jp:before {background-position: -192px -96px}
.flag.flag-ke:before {background-position: -208px -96px}
.flag.flag-kg:before {background-position: -224px -96px}
.flag.flag-kh:before {background-position: 0 -112px}
.flag.flag-ki:before {background-position: -16px -112px}
.flag.flag-km:before {background-position: -32px -112px}
.flag.flag-kn:before {background-position: -48px -112px}
.flag.flag-kp:before {background-position: -64px -112px}
.flag.flag-kr:before {background-position: -80px -112px}
.flag.flag-kw:before {background-position: -96px -112px}
.flag.flag-ky:before {background-position: -112px -112px}
.flag.flag-kz:before {background-position: -128px -112px}
.flag.flag-la:before {background-position: -144px -112px}
.flag.flag-lb:before {background-position: -160px -112px}
.flag.flag-lc:before {background-position: -176px -112px}
.flag.flag-li:before {background-position: -192px -112px}
.flag.flag-lk:before {background-position: -208px -112px}
.flag.flag-lr:before {background-position: -224px -112px}
.flag.flag-ls:before {background-position: 0 -128px}
.flag.flag-lt:before {background-position: -16px -128px}
.flag.flag-lu:before {background-position: -32px -128px}
.flag.flag-lv:before {background-position: -48px -128px}
.flag.flag-ly:before {background-position: -64px -128px}
.flag.flag-ma:before {background-position: -80px -128px}
.flag.flag-mc:before {background-position: -96px -128px}
.flag.flag-md:before {background-position: -112px -128px}
.flag.flag-me:before {background-position: -128px -128px}
.flag.flag-mg:before {background-position: -144px -128px}
.flag.flag-mh:before {background-position: -160px -128px}
.flag.flag-mk:before {background-position: -176px -128px}
.flag.flag-ml:before {background-position: -192px -128px}
.flag.flag-mm:before {background-position: -208px -128px}
.flag.flag-mn:before {background-position: -224px -128px}
.flag.flag-mo:before {background-position: 0 -144px}
.flag.flag-mq:before {background-position: -16px -144px}
.flag.flag-mr:before {background-position: -32px -144px}
.flag.flag-ms:before {background-position: -48px -144px}
.flag.flag-mt:before {background-position: -64px -144px}
.flag.flag-mu:before {background-position: -80px -144px}
.flag.flag-mv:before {background-position: -96px -144px}
.flag.flag-mw:before {background-position: -112px -144px}
.flag.flag-mx:before {background-position: -128px -144px}
.flag.flag-my:before {background-position: -144px -144px}
.flag.flag-mz:before {background-position: -160px -144px}
.flag.flag-na:before {background-position: -176px -144px}
.flag.flag-nc:before {background-position: -192px -144px}
.flag.flag-ne:before {background-position: -208px -144px}
.flag.flag-ng:before {background-position: -224px -144px}
.flag.flag-ni:before {background-position: 0 -160px}
.flag.flag-nl:before {background-position: -16px -160px}
.flag.flag-no:before {background-position: -32px -160px}
.flag.flag-np:before {background-position: -48px -160px}
.flag.flag-nr:before {background-position: -64px -160px}
.flag.flag-nz:before {background-position: -80px -160px}
.flag.flag-om:before {background-position: -96px -160px}
.flag.flag-pa:before {background-position: -112px -160px}
.flag.flag-pe:before {background-position: -128px -160px}
.flag.flag-pf:before {background-position: -144px -160px}
.flag.flag-pg:before {background-position: -160px -160px}
.flag.flag-ph:before {background-position: -176px -160px}
.flag.flag-pk:before {background-position: -192px -160px}
.flag.flag-pl:before {background-position: -208px -160px}
.flag.flag-pr:before {background-position: -224px -160px}
.flag.flag-ps:before {background-position: 0 -176px}
.flag.flag-pt:before {background-position: -16px -176px}
.flag.flag-pw:before {background-position: -32px -176px}
.flag.flag-py:before {background-position: -48px -176px}
.flag.flag-qa:before {background-position: -64px -176px}
.flag.flag-re:before {background-position: -80px -176px}
.flag.flag-ro:before {background-position: -96px -176px}
.flag.flag-rs:before {background-position: -112px -176px}
.flag.flag-ru:before {background-position: -128px -176px}
.flag.flag-rw:before {background-position: -144px -176px}
.flag.flag-sa:before {background-position: -160px -176px}
.flag.flag-sb:before {background-position: -176px -176px}
.flag.flag-sc:before {background-position: -192px -176px}
.flag.flag-sd:before {background-position: -208px -176px}
.flag.flag-se:before {background-position: -224px -176px}
.flag.flag-sg:before {background-position: 0 -192px}
.flag.flag-si:before {background-position: -16px -192px}
.flag.flag-sk:before {background-position: -32px -192px}
.flag.flag-sl:before {background-position: -48px -192px}
.flag.flag-sm:before {background-position: -64px -192px}
.flag.flag-sn:before {background-position: -80px -192px}
.flag.flag-so:before {background-position: -96px -192px}
.flag.flag-sr:before {background-position: -112px -192px}
.flag.flag-st:before {background-position: -128px -192px}
.flag.flag-sv:before {background-position: -144px -192px}
.flag.flag-sy:before {background-position: -160px -192px}
.flag.flag-sz:before {background-position: -176px -192px}
.flag.flag-tc:before {background-position: -192px -192px}
.flag.flag-td:before {background-position: -208px -192px}
.flag.flag-tg:before {background-position: -224px -192px}
.flag.flag-th:before {background-position: 0 -208px}
.flag.flag-tj:before {background-position: -16px -208px}
.flag.flag-tl:before {background-position: -32px -208px}
.flag.flag-tm:before {background-position: -48px -208px}
.flag.flag-tn:before {background-position: -64px -208px}
.flag.flag-to:before {background-position: -80px -208px}
.flag.flag-tr:before {background-position: -96px -208px}
.flag.flag-tt:before {background-position: -112px -208px}
.flag.flag-tv:before {background-position: -128px -208px}
.flag.flag-tw:before {background-position: -144px -208px}
.flag.flag-tz:before {background-position: -160px -208px}
.flag.flag-ua:before {background-position: -176px -208px}
.flag.flag-ug:before {background-position: -192px -208px}
.flag.flag-us:before {background-position: -208px -208px}
.flag.flag-uy:before {background-position: -224px -208px}
.flag.flag-uz:before {background-position: 0 -224px}
.flag.flag-va:before {background-position: -16px -224px}
.flag.flag-vc:before {background-position: -32px -224px}
.flag.flag-ve:before {background-position: -48px -224px}
.flag.flag-vg:before {background-position: -64px -224px}
.flag.flag-vi:before {background-position: -80px -224px}
.flag.flag-vn:before {background-position: -96px -224px}
.flag.flag-vu:before {background-position: -112px -224px}
.flag.flag-ws:before {background-position: -128px -224px}
.flag.flag-ye:before {background-position: -144px -224px}
.flag.flag-za:before {background-position: -160px -224px}
.flag.flag-zm:before {background-position: -176px -224px}
.flag.flag-zw:before {background-position: -192px -224px}