.container.site-content
    .row
        .col-sm-12.slider
            img.img-responsive(src='img/slide-1.jpg')
    .row
        .col-sm-12.col-md-8
            .row.news
                .col-sm-12
                    .row
                        .col-sm-12.article
                            img.img-responsive(src='img/pic-3.png')
                            h2 New Cards and Decklists from The Grand Tournament Expansion
                            p.text-justify Update August 22: We got some decklists brewed up by Legend players here on HSP! If you want to hit the ground running on the 24th, give these decks a try:
                                ul
                                    li TGT Decks Team HSP Will Be Playing at Launch!
                                    li TGT Dragon Freeze Mage
                                    li TGT Dragon Warrior and Dragon Paladin
                                    li TGT Midrange Hunter
                                    li TGT Grinder Mage
                                    li TGT Ramp Druid
                            .row
                                .col-xs-6 23.09.2015
                                .col-xs-6.text-right by Animezis
                    .row
                        .col-sm-12.article
                            img.img-responsive(src='img/pic-2.jpg')
                            h2 The Grand Tournament Arrives August 24!
                            p.text-justify Saddle up your steed, sharpen your steel, and prepare to take your place at the merriest of all contests—The Grand Tournament officially arrives on August 24. This is one celebration of special extravagance you won’t want to miss, so GET IN HERE!
                            .row
                                .col-xs-6 21.09.2015
                                .col-xs-6.text-right by Animezis
                    .row
                        .col-sm-12.article
                            img.img-responsive(src='img/pic-1.png')
                            h2 Welcome to Hearthstone Tournament
                            p.text-justify Sheathe your sword, draw your deck, and get ready for Hearthstone - the fast paced strategy card game that's easy to learn and massively fun. Start a free game on Battle.net and play your cards to sling spells, summon creatures, and command the heroes of Warcraft in duels of epic strategy.
                            .row
                                .col-xs-6 18.09.2015
                                .col-xs-6.text-right by Animezis

        .col-sm-12.col-md-4.hidden-sm-down
            .row.site-sidebar
                .col-sm-12
                    .row.sub-navigation
                        .col-sm-12
                            ul
                                li
                                    a.trophy Ladder
                                li
                                    a.trophy Sylvanas Cup #2
                                li
                                    a.trophy Sylvanas Cup #1
                    .row.site-blocks
                        .col-sm-12
                            .span
                                h6 Banned Cards This Week
                                table.table(ng-controller="cardList")
                                    tbody
                                        tr(ng-repeat="x in cards | limitTo:5 track by $index")
                                            th(scope="row" ng-bind="$index+1")
                                            td(ng-bind="x.CardName" ng-class="'rar-' + x.Rarity")
                    .row.site-blocks
                        .col-sm-12
                            .span
                                h6 Live Streams
                                table.table
                                    tbody
                                        tr
                                            td
                                                span.flag.flag-ua
                                            td Kolento
                                            td.hidden-md-down.text-right.viewers 16321
                                        tr
                                            td
                                                span.flag.flag-de
                                            td Lifecoach
                                            td.hidden-md-down.text-right.viewers 423
                                        tr
                                            td
                                                span.flag.flag-us
                                            td Animezis
                                            td.hidden-md-down.text-right.viewers 3
                    .row.site-blocks
                        .col-sm-12
                            .span
                                h6 Recent Hearthstone Games
                                table.table.games
                                    tbody
                                        tr
                                            td.flag.flag-ua Kolento
                                            td.versus
                                            td.flag.flag-de Lifecoach
                                        tr
                                            td.flag.flag-us Animezis
                                            td.versus
                                            td.flag.flag-ua IcySunrise
                    .row.site-blocks
                        .col-sm-12
                            .span
                                h6 Hearthstone Rankings
                                table.table.games(ng-controller="playersLadder")
                                    tbody
                                        tr(ng-repeat="x in ladder | limitTo:10 | orderBy:'Country' track by $index")
                                            th(scope="row" ng-bind="$index+1")
                                            td(ng-bind="x.Name" ng-class="'flag-' + x.Country").flag
                                            td(ng-class="x.Change")
                                            td(ng-bind="x.Rating")
                    .row.site-blocks
                        .col-sm-12
                            .span
                                h6 Upcoming Events
                                table.table
                                    tbody
                                        tr
                                            td Blizzcon the Grand Tournament
                                            td.text-right.icon-events 17.11.2015
                                        tr
                                            td Sylvanas Cup #3 Lan Final
                                            td.text-right.icon-news 23.12.2015
                                        tr
                                            td TempoStorm Booster Pack Giveaway
                                            td.text-right.icon-events 01.01.2016
