.container-fluid.site-header
    .container.hidden-sm-down
        .row
            .col-sm-4.logo
                img(src='img/temp-logo.png')
            .col-sm-8.navigation
                nav.pull-right
                    a.nav-link(href='#') Tournaments
                    a.nav-link(href='#') Banned Cards
                    a.nav-link(href='#') Abouts Us
    .container.hidden-md-up
            .col-xs-4.navigation
                nav.pull-left.site-icons
                    a.nav-link.menu(href="#")
            .col-xs-8.navigation
                nav.pull-right.site-icons
                    a.nav-link.trophy(href='#')
                    a.nav-link.rocket(href='#')
                    a.nav-link.info(href='#')